<AuModal
  class="au-c-modal--flush"
  @size="large"
  @modalTitle="Define public service"
  @modalOpen={{@modalOpen}}
  @closeModal={{@closeModal}} as |Modal| >
  <Modal.Body>
    <div class="au-c-body-container">
      <div class="au-o-box au-u-background-gray-100">
        <div class="au-o-grid au-o-grid--tiny au-o-grid--bottom">
          <div class="au-o-grid__item au-u-1-5">
          </div>
        </div>
      </div>
      <div class="au-c-body-container">
      </div>
    </div>
  </Modal.Body>
</AuModal>
